# Compiled Python files
*.pyc
__pycache__/

# Virtual environment
venv/
env/

# Dependencies
/.venv
/.env
/.pytest_cache/
/.mypy_cache/
/.coverage
/.cache/

# Logs
*.log

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo

# Docker
.DS_Store

